html {
    overflow:auto;
	overflow-x: hidden; 
}

@font-face
{
	font-family: MyriadPro-Light;
	src: url('../css/MyriadPro Light.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
	font-family: EngraversGothic BT;
	src: url('../css/EngraversGothic BT.ttf');
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #ffffff;
	overflow-x: hidden; 
	margin: 0px; 
	padding: 0px;
	border: 0px;
	text-align: center;
}

#blueInfoPart {
	background-color: #475986; 
	background-image: url(../images/innerBlue.png);
	background-repeat: no-repeat;
	margin: 0px; 
	padding: 0px;
	border: 0px;
	text-align: center;
	width: 100%;
}

#blueInfoInnerPart {
	width: 1160px;
	height: auto;
	margin: 20px auto 0px auto;
	border: 0px; 
	text-align: left;
	height: 670px;
}

#blue {
	background-color: #475986; 
	background-image: url(../images/blueBg.png);
	background-repeat: no-repeat;
	margin: -125px 0px 0px 0px; 
	padding: 150px 0px 0px 0px;
	border: 0px;
	text-align: center;
	width: 100%;
	height: 240px;
}

#secondBlue {
	width: 1160px;
	height: auto;
	margin: 0px auto;
	border: 0px; 
	text-align: left;
}

#footer {
	background-color: #0e172d; 
	margin: 0px; 
	padding: 0px;
	border: 0px;
	text-align: center;
	width: 100%;
}

#footerInner {
	width: 1160px;
	height: auto;
	margin: 50px auto 0px auto;
	border: 0px; 
	text-align: left;
	padding: 0px 0px 0px 60px;
	font-family: Arial;
	line-height: 13px;
	font-size: 11px;
	color: #a6b2d0;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

#firstToTop {
	background-color: #7688b5; 
	margin: 0px; 
	padding: 0px;
	border: 0px;
	text-align: center;
	width: 100%;
}

#secondToTop {
	background-color: #475986; 
	margin: 0px; 
	padding: 0px;
	border: 0px;
	text-align: center;
	width: 100%;
}

#secondToTopInner {
	width: 1160px;
	height: auto;
	margin: 0px auto;
	border: 0px; 
	text-align: left;
}

#firstToTopInner {
	width: 1160px;
	height: auto;
	margin: 0px auto;
	border: 0px; 
	text-align: left;
	padding: 10px 0px 10px 0px;
	font-family: Arial;
	line-height: 13px;
	font-size: 11px;
	color: #cdcfd4;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.container {
	width: 1160px;
	height: auto;
	margin: 0px auto;
	border: 0px; 
	text-align: left;
	padding: 0px;
	position: relative;
	z-index: 2;
	background-color: #ffffff;
}

#leftPart {
	margin: 0px 0px 0px 50px;
	padding: 0px;
	float: left;
}

#languageBar {
	float: right;
	margin: 0px 70px 0px 0px;
	padding: 0px;
}

#inputBar {
	float: right;
	margin: 40px 70px 0px 0px;
	padding: 0px;
	background-color: #ffffff;
}

#mainLogo {
	float: left;
	margin: 25px 0px 20px -5px;
	padding: 0px;
}

#leftLogoText {
	float: left;
	margin: 45px 0px 0px 0px;
	display: block;
	font-family: EngraversGothic BT;
	line-height: 17px;
	font-size: 20px;
	color: #ecf1ff;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

#magnif {
	display: block;
	float: left;
	margin: 2px 15px 2px 5px;
}

#form {
	border: none;
	float: left;
	margin: 3px 0px 0px 0px;
	width: 100px;
}

#search {
	font-family: EngraversGothic BT;
	line-height: 11px;
	font-size: 9px;
	color: #475986;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
	float: left;
	background-color: #becefb;
	margin: 0px;
	padding: 6px 10px 7px 10px;
}

#mainMenu {
	padding: 0px 0px 0px 70px;
	margin: 0px;
	background-color: #364874;
}

#banners {
	margin: 0px;
	padding: 10px 0px 0px 0px;
}

#bannerTitle {
	font-family: EngraversGothic BT;
	line-height: 11px;
	font-size: 14px;
	color: #8b8b8b;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
	position: absolute;
	margin: 0px 0px 0px 100px;
	display: block;
}

#sliderTextWhite {
	font-family: EngraversGothic BT;
	line-height: 35px;
	font-size: 43px;
	color: #ffffff;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
	position: absolute;
	margin: 120px 0px 0px 520px;
	display: block;
	width: 500px;
}

#sliderTextWhite2 {
	font-family: EngraversGothic BT;
	line-height: 35px;
	font-size: 43px;
	color: #ffffff;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
	margin: 0px;
	display: block;
	width: 500px;
}

#sliderTextYellow2 {
	font-family: EngraversGothic BT;
	line-height: 18px;
	font-size: 23px;
	color: #e8ff2d;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
	margin: 30px 0px 0px 0px;
	display: block;
	width: 400px;
}

#sliderTextYellow {
	font-family: EngraversGothic BT;
	line-height: 18px;
	font-size: 23px;
	color: #e8ff2d;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
	position: absolute;
	margin: 250px 0px 0px 520px;
	display: block;
	width: 400px;
}

#slider {
	margin: 25px 0px 0px 0px;
	padding: 0px 0px 10px 0px
}

#leftArr {
	position: absolute;
	margin: 200px 0px 0px 25px;
}

#rightArr {
	position: absolute;
	margin: 200px 0px 0px 1115px;
}

#topShadow {
	margin: -7px 0px 0px -35px;
	position: absolute;
}

#topShadow2 {
	margin: -7px 0px 0px -610px;
	position: absolute;
	z-index: 3;
}

#botShadow {
	margin: 405px 0px 0px -25px;
	position: absolute;
}

#blueInfo {
	font-family: Arial;
	line-height: 31px;
	font-size: 14px;
	color: #ffffff;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
	float: left;
	margin: 20px 0px 0px 100px;
	width: 500px;
}

#blueInfo2 {
	font-family: Arial;
	line-height: 31px;
	font-size: 14px;
	color: #ffffff;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
	float: left;
	margin: 20px 0px 0px 0px;
	float: left;
}

#globe {
	display: block;
	margin: 8px 20px 0px -10px;
	float: left;
}

#rightGlobePart {
	margin: 0px;
	padding: 0px;
	float: left;
}

#infoSep {
	float: left;
	margin: 30px 40px 0px 40px;
	width: 1px;
	height: 180px;
	background-color: #7889b6;
}

#infoSepHor {
	float: left;
	margin: 25px 0px 25px 0px;
	width: 380px;
	height: 1px;
	background-color: #7889b6;
}

#contact {
	float: left;
	font-family: EngraversGothic BT;
	line-height: 29px;
	font-size: 27px;
	color: #ffffff;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
	width: 300px;
}

#botLogo {
	float: right;
	display: block;
	margin: 15px 0px 10px 0px;
}

#globeMenu {
	background-color: #ffffff;
	margin: 0px;
	padding: 0px 0px 35px 0px;
	position: relative;
	z-index: 1;
}

#globeMenuTitle {
	margin: 0px;
	padding: 40px 0px 20px  40px;
	font-family: EngraversGothic BT;
	line-height: 31px;
	font-size: 38px;
	color: #475986;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
	position: relative;
	z-index: 3;
}

#transpGlobe {
	position: absolute;
	z-index: 1;
	margin: 205px 0px 0px 80px;
}

#innerGlobeShadow {
	position: absolute;
	z-index: 0;
	margin: -45px 0px 0px -45px;
}

#reactorInfoShadow {
	position: absolute;
	margin: 580px 0px 0px -225px;
	z-index: 1;
}

#rightPart {
	float: left;
	margin: 0px;
	padding: 40px 0px 0px 30px;
}

#firstPar {
	margin: 0px;
	padding: 0px;
}

#secondPar {
	margin: 30px 0px 0px 0px;
	padding: 5px 0px 0px 0px;
	background-color: #ffffff;
	width: 739px;
	position: relative;
	z-index: 2;
}

#pumpsBlock {
	background-color: #ffffff;
	margin: 0px; 
	padding: 0px;
	float: left;
}

#sulzerLogo {
	display: block;
	padding: 20px 30px 20px 30px;
	margin: 0px;
}

#grayLine {
	background-color: #dce0e8;
	margin: 0px; 
	padding: 0px 0px 0px 35px;
}

#rightText {
	float: left;
	margin: 0px 0px 0px 35px;
	padding: 0px;
}

#reactor {
	display: block;
	margin: 0px;
	padding: 0px;
}

#reactorInfo {
	display: block;
	margin: 0px;
	padding: 30px 30px 30px 30px;
	font-family: Arial;
	line-height: 26px;
	font-size: 11px;
	color: #000000;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.grayLineLink {
	font-family: Arial;
	line-height: 22px;
	font-size: 12px;
	color: #475986;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.grayLineLink:link {
	font-family: Arial;
	line-height: 22px;
	font-size: 12px;
	color: #475986;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.grayLineLink:active {
	font-family: Arial;
	line-height: 22px;
	font-size: 12px;
	color: #475986;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.grayLineLink:visited {
	font-family: Arial;
	line-height: 22px;
	font-size: 12px;
	color: #475986;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}


.downTitle {
	font-family: MyriadPro-Light;
	line-height: 32px;
	font-size: 24px;
	color: #d3dfff;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
	display: block;
	margin: 0px;
}

.download {
	margin: 30px 0px 0px 40px;
	padding: 0px;
}

.downFile{
	display: block;
	margin: 0px;
}

.downloadFile {
	font-family: MyriadPro-Light;
	line-height: 19px;
	font-size: 14px;
	color: #ffffff;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.downloadFile:link {
	font-family: MyriadPro-Light;
	line-height: 19px;
	font-size: 14px;
	color: #ffffff;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.downloadFile:active {
	font-family: MyriadPro-Light;
	line-height: 19px;
	font-size: 14px;
	color: #ffffff;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.downloadFile:visited {
	font-family: MyriadPro-Light;
	line-height: 19px;
	font-size: 14px;
	color: #ffffff;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.globeMenuCell {
	margin: 0px;
	padding: 0px 0px 0px 40px;
	position: relative;
	z-index: 3;
}

.globeMenuLink {
	font-family: Arial;
	line-height: 34px;
	font-size: 12px;
	color: #475986;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.globeMenuLink:link {
	font-family: Arial;
	line-height: 34px;
	font-size: 12px;
	color: #475986;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.globeMenuLink:active {
	font-family: Arial;
	line-height: 34px;
	font-size: 12px;
	color: #475986;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.globeMenuLink:visited {
	font-family: Arial;
	line-height: 34px;
	font-size: 12px;
	color: #475986;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.containerCell {
	font-family: Arial;
	line-height: 30px;
	font-size: 12px;
	color: #151515;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
	margin: 50px 0px 0px 40px;
	padding: 0px;
	float: left;
	width: 300px;
}

.containerCell1 {
	font-family: Arial;
	line-height: 30px;
	font-size: 12px;
	color: #151515;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
	margin: 50px 0px 0px 100px;
	padding: 0px;
	float: left;
	width: 300px;
}

.containerCellTitle {
	font-family: Arial;
	line-height: 23px;
	font-size: 13px;
	color: #475986;
	font-weight: bold;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
	display: block;
	margin: 0px 0px 10px 0px;
}

.blueInfoTitle {
	font-family: Arial;
	line-height: 31px;
	font-size: 18px;
	color: #c2d2ff;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
	display:block;
	margin: 0px;
}

.bannersCell {
	float: left;
	margin: 0px 3px 0px 5px;
	padding: 0px;
}

.bannersCell1 {
	float: left;
	margin: 0px 0px 0px 5px;
	padding: 0px;
}

.mainMenuCell {
	float: left;
	margin: 0px;
	padding: 10px 0px 10px 0px;
}

.mainMenuCellLink {
	font-family: Arial;
	line-height: 16px;
	font-size: 14px;
	color: #bcccf9;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.mainMenuCellLink:link {
	font-family: Arial;
	line-height: 16px;
	font-size: 14px;
	color: #bcccf9;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.mainMenuCellLink:active {
	font-family: Arial;
	line-height: 16px;
	font-size: 14px;
	color: #bcccf9;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.mainMenuCellLink:visited {
	font-family: Arial;
	line-height: 16px;
	font-size: 14px;
	color: #bcccf9;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.mainMenuCellLink:hover {
	font-family: Arial;
	line-height: 16px;
	font-size: 14px;
	color: #ffffff;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.globeMenuSep {
	margin: 0px 25px 0px 25px;
	width: 230px;
	height: 1px;
	background-color: #e2e3e5;
}

.topImgSep {
	float: left;
	margin: 26px 20px 0px 20px;
	width: 1px;
	height: 55px;
	background-color: #7889b6;
}

.mainMenuSep {
	float: left;
	margin: 10px 20px 0px 20px;
	width: 1px;
	height: 17px;
	background-color: #cdd1dc;
}

.firstTopMenu {
	float: left;
	margin: 0px 0px 0px 70px;
	padding: 0px;
}

.footerMenu {
	float: left;
	margin: 30px 0px 0px 70px;
	padding: 0px;
}

.topCellSep {
	float: left;
	margin: 1px 15px 0px 15px;
	width: 1px;
	height: 12px;
	background-color: #aebeeb;
}

.footerSep {
	float: left;
	margin: 1px 15px 0px 15px;
	width: 1px;
	height: 12px;
	background-color: #566281;
}

.topCellSepLang {
	float: left;
	margin: 1px 10px 0px 10px;
	width: 1px;
	height: 12px;
	background-color: #aebeeb;
}

.fistMenuLinkLang {
	font-family: Arial;
	line-height: 13px;
	font-size: 11px;
	color: #becefb;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.fistMenuLinkLang:link {
	font-family: Arial;
	line-height: 13px;
	font-size: 11px;
	color: #becefb;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.fistMenuLinkLang:active {
	font-family: Arial;
	line-height: 13px;
	font-size: 11px;
	color: #becefb;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.fistMenuLinkLang:visited {
	font-family: Arial;
	line-height: 13px;
	font-size: 11px;
	color: #becefb;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.fistMenuLinkLang:hover {
	font-family: Arial;
	line-height: 13px;
	font-size: 11px;
	color: #ffffff;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.fistMenuLink {
	font-family: Arial;
	line-height: 13px;
	font-size: 11px;
	color: #cdcfd4;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.fistMenuLink:active {
	font-family: Arial;
	line-height: 13px;
	font-size: 11px;
	color: #cdcfd4;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.fistMenuLink:visited {
	font-family: Arial;
	line-height: 13px;
	font-size: 11px;
	color: #cdcfd4;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.fistMenuLink:link {
	font-family: Arial;
	line-height: 13px;
	font-size: 11px;
	color: #cdcfd4;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.fistMenuLink:hover {
	font-family: Arial;
	line-height: 13px;
	font-size: 11px;
	color: #ffffff;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.firstMenuCell {
	float: left;
	margin: 0px; 
	padding: 0px;
	border: 0px;
}

.firstMenuCellLang {
	float: left;
	margin: 0px; 
	padding: 0px;
	border: 0px;
	color: #ffffff;
}

.firstMenuCellLang1 {
	float: left;
	margin: 0px 10px 0px 0px; 
	padding: 0px;
	border: 0px;
	color: #ffffff;
}

.footerLink {
	font-family: Arial;
	line-height: 13px;
	font-size: 11px;
	color: #a6b2d0;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.footerLink:active {
	font-family: Arial;
	line-height: 13px;
	font-size: 11px;
	color: #a6b2d0;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.footerLink:visited {
	font-family: Arial;
	line-height: 13px;
	font-size: 11px;
	color: #a6b2d0;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.footerLink:link {
	font-family: Arial;
	line-height: 13px;
	font-size: 11px;
	color: #a6b2d0;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.footerLink:hover {
	font-family: Arial;
	line-height: 13px;
	font-size: 11px;
	color: #ffffff;
	font-weight: normal;
    font-style: normal;
	text-shadow: 0px;
	text-decoration: none;
}

.imgLink{
	text-decoration:none;
}

.imgLink:link {
	text-decoration:none;
}

.imgLink:active {
	text-decoration:none;
}

.imgLink:visited {
	text-decoration:none;
}

.clear {
	clear: both;
}