@import url("https://fonts.googleapis.com/css?family=OpenSans:400,900%27");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  background-color: #f2f2f2;
  font-size: 1em;
  line-height: 1.5em;
  font-family: 'Open Sans', sans-serif; }

img {
  max-width: 100%;
  width: 100%;
  height: auto; }

.main-container {
  display: flex;
  justify-content: center;
  margin-top: 80px; }

.main-blocks {
  border-radius: 25px;
  background-color: #f9f9f9;
  flex: 1;
  height: 400px;
  box-shadow: 1px 4px 5px #888888;
  margin: 0 20px;
  padding: 20px;
  text-align: center; }
  .main-blocks .block-header {
    font-size: 1.43em;
    font-weight: bold;
    padding: 15px 0; }
  .main-blocks .img-icon {
    width: auto;
    height: 10%; }
  .main-blocks p {
    font-size: 0.87em;
    padding: 15px 0;
    height: 25%; }
  .main-blocks .price-free {
    font-size: 1.87em;
    padding: 40px 0;
    font-weight: 100; }
    .main-blocks .price-free.price-premium {
      color: #FA7F48; }
  .main-blocks .action-button {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    border-radius: 50px;
    padding: 10px 0;
    font-size: 0.6em;
    color: white; }
    .main-blocks .action-button.block-free {
      background-color: #97DDE8; }
    .main-blocks .action-button.block-premium-plus {
      background-color: #FA7F48; }
  .main-blocks:hover {
    background-color: white; }
    .main-blocks:hover .block-free {
      background-color: #47c8e8; }
    .main-blocks:hover .block-premium-plus {
      background-color: #FD4F1C; }
    .main-blocks:hover .price-free {
      font-weight: 400; }
    .main-blocks:hover .price-premium {
      color: #FD4F1C; }

@media screen and (max-width: 768px) {
  .main-container {
    display: block; }
  .main-blocks {
    flex: none;
    margin: 30px auto;
    width: 65%; } }

@media screen and (max-width: 375px) {
  .main-container {
    display: block; }
  .main-blocks {
    flex: none;
    margin: 30px auto;
    width: 80%; }
    .main-blocks .action-button {
      font-size: 0.8em; } }
